*{
    margin: 0;
   
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(148, 206, 203);
    font-family: sans-serif;
    outline: none;
    

}
.cal{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.call{
    background-color: rgb(14, 12, 15);
    padding: 16px;
    border-radius: 30px;
    box-shadow:inset 5px 5px 12px rgb(102, 59, 167);
                 
    display: grid;
    grid-template-columns: repeat(4,68px);
    
    
}
input{
    grid-column: span 4;
    height: 60px;
    width: 272px;
    background-color: rgb(58, 141, 83);
    color: rgb(10, 9, 9);
    border-radius: 10px;
   font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top:40px ;
    margin-bottom: 30px;
    padding: 20px;

}
button{
    height: 49px;
    width: 66px;
    background-color: rgb(105, 160, 142);
    box-shadow: rgb(34, 24, 37);

border-radius: 6px;
margin: 2.5px;
font-size: 22px;
}
.equal{
    width: 132px;
    border-radius: 10px;
}
